<ion-header>
  <ion-toolbar>
    <ion-back-button text="Home" defaultHref="home"></ion-back-button><ion-buttons slot="start">
     
    </ion-buttons>
    <ion-title>contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <iframe width="640px" height= "680px" src= "https://script.google.com/macros/s/AKfycbxpaxjNAVO4yyBREV5cDI07DZSyhOCJwgt2pxOMrw/exec" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen> </iframe>
</ion-content>
