<ion-header>  
  <ion-toolbar><ion-back-button text="home" defaultHref="home"></ion-back-button>
    <ion-title>pocket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="error-container">
    <div class="error-message">
      <ion-icon name="information-circle-outline"></ion-icon>
    
    </div>
  </div>
  <div>
    <iframe width="940px" height= "980px" src="https://script.google.com/macros/s/AKfycbwqH7acNmRVdNV2P5TyO0Wm18erjqeerE4vkNdYzwvwI6bNBjkqcOkw3B8NnH-giEJyUg/exec?index=2" frameborder= "0" marginwidth= "0" marginheight= "0" style= "border: none; max-width:100%; max-height:100vh" allowfullscreen webkitallowfullscreen mozallowfullscreen msallowfullscreen></iframe>
   
  </div>
</ion-content>
